<h1>Activate your account by clicking the link below:</h1>

 <% form_for @user, :url => activate_path(@user.id), :html => { :method => :post } do |f| %>
 	<%= f.error_messages %>
 	<%= f.submit "Activate Now" %>
 <% end %>
