<% if current_user != nil %>
<ul>
  <li><%= link_to "Board Members", board_members_path %></li>
  <li><%= link_to "Committees", committees_path %></li>
  <li><%= link_to "Volunteers", users_path %></li>
  <% if show_positions? %><li><%= link_to "Positions", positions_path %></li><% end %>
</ul>
<% end %>