<p>
  <b>Committee Name:</b>
  <%= @committee.name %>

<table>
  <tr>
    <th>User</th>
    <th>Duty</th>
  </tr>

<% @committee.chairs.each do |chair| %>
  <tr>
    <td><%= link_to(chair.full_name, user_path(chair)) %></td>
    <td>Chair</td>
  </tr>
<% end %>
<% @committee.volunteers.each do |volunteer| %>
  <tr>
    <td><%= link_to(volunteer.full_name, user_path(volunteer)) %></td>
    <td>Volunteer</td>
  </tr>
<% end %>
</table>

</p>
<br />

<%= link_to 'Back', committees_path %>